.bg-dark,
.bg-hover-dark:hover {
    background-color: #0c0e15 !important;
}

.bg-dark-less,
.bg-hover-dark-less:hover {
    background-color: #171c2e !important;
}

.bg-dark-cherry,
.bg-hover-dark-cherry:hover {
    background-color: #4d052d !important;
}

.bg-primary,
.bg-hover-primary:hover {
    background-color: #4b5987 !important;
}

.bg-primary-darker,
.bg-hover-primary-darker:hover {
    background-color: #374161 !important;
}

.bg-primary-darkest,
.bg-hover-primary-darkest:hover {
    background-color: #21273b !important;
}

.fg-cherry,
.fg-hover-cherry:hover {
    color: #f5118f !important;
}

.fg-white,
.fg-hover-white:hover {
    color: #eee !important;
}

.fg-primary,
.fg-primary:hover {
    color: #4b5987 !important;
}

.fg-primary-light,
.fg-primary-light:hover {
    color: #5e70a8 !important;
}

.round-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.round-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

body {
    font-family: 'Cantarell', sans-serif !important;
    background-color: #171c2e;
}

aside {
    overflow-x: hidden !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cantarell', sans-serif !important;
}