.bg-dark,
.bg-hover-dark:hover {
    background-color: #0c0e15 !important;
}

.bg-dark-less,
.bg-hover-dark-less:hover {
    background-color: #171c2e !important;
}

.bg-dark-cherry,
.bg-hover-dark-cherry:hover {
    background-color: #4d052d !important;
}

.bg-primary,
.bg-hover-primary:hover {
    background-color: #4b5987 !important;
}

.bg-primary-darker,
.bg-hover-primary-darker:hover {
    background-color: #374161 !important;
}

.bg-primary-darkest,
.bg-hover-primary-darkest:hover {
    background-color: #21273b !important;
}

.fg-cherry,
.fg-hover-cherry:hover {
    color: #f5118f !important;
}

.fg-white,
.fg-hover-white:hover {
    color: #eee !important;
}

.fg-primary,
.fg-primary:hover {
    color: #4b5987 !important;
}

.round-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.round-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

body {
    font-family: 'Cantarell', sans-serif !important;
}

aside {
    overflow-x: hidden !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cantarell', sans-serif !important;
}

.chatlist h6 {
    padding: 4px 0px 4px 7px;
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    font-family: 'Cantarell', sans-serif !important;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.chatlist .selected {
    background-color: #4d052d;
    border-top: 1px solid #f5118f;
    border-bottom: 1px solid #f5118f;
    color: white;
    font-family: 'Cantarell', sans-serif !important;
}

.chaticon {
    min-width: 24px;
    padding-right: 5px;
    text-align: center;
}

.resizer-handle {
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    right: 0;
    background-color: #374161;
    float: right;
    cursor: e-resize;
}

.main-header {
    border-bottom: 1px solid #0c0e15;
}

.main-bar {
    background-color: #0c0e15;
    position: sticky;
    top: 0;
    overflow: visible;
}

#sidebar-close-button {
    padding: 12px 18px 12px 18px;
}

@media (max-width:993px) {
    #main {
        margin-left: 0px !important;
    }
}

#message-box {
    margin-bottom: 43px;
    font-family: Arial, Helvetica, sans-serif;
}